FileConverter/Connected Services/FileConverterService/FileConverterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfFileConverter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfFileConverter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileModel" nillable="true" type="tns:FileModel" />
</xs:schema>