FileConverter/Connected Services/FileConverterService/FileConverterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23645/FileConverterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfFileConverter" />
  <xs:element name="ConvertToCSV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfFileConverter" minOccurs="0" name="file" nillable="true" type="q1:FileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToCSVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfFileConverter" minOccurs="0" name="ConvertToCSVResult" nillable="true" type="q2:FileModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>